<table class="thetable">
	<tr>
		<td class='theartist'><h3>Artist</h3></td> <td class="thetrack"><h3>Song name</h3></td> <td class="theplay"><h3>Preview</h3></td>
	</tr>

	<% playlist.each do |track| %>
		<tr>
		  <td class='theartist'><%= track.artist %></td>
		  <td class='thetrack'><%= track.name %></td>
		  <td class="theplay"><img class="player" value= "<%= track.preview_url %>"  src="<%= image_path 'play.png' %>" ></td>
		</tr>
	<% end %>

</table>