Jaccard method: <br>
The Jaccard similarity coefficient uses 4 situations to calculate the intersect and the union.
The Jaccard index is calculated by dividing the intersect by the union of the two samples. This gives a score of 0~1 (1 being most similar). 

<br> <br>
Cosine method:
<br>
The Cosine similarity between two vectors (or two samples) is a measure that calculates the cosine of the angle between them. This is a measure of orientation and not magnitude. This method also gives a score of 0~1 (1 being most similar). A n * m matrix is created, and this is referenced to create a multidimensional (8200-D) vector. The cosine of the angle between the two samples can be calculated by taking the dot product fo the two vectors and dividing it by the product of the two unit vectors.

<br><br>
<a href="/">Go back</a>