<html>
<head>
	

	<style type="text/css">

	</style>

</head>

<body>
<h1 id="header">Rui's Playlist Generator</h1>

		<div class="container">
		    <h1>Search for an Artist</h1>
		    <form id="search-form">
		        <input type="text" id="query" value="" class="form-control" />
		        <input type="submit" id="search" class="btn btn-primary" value="Search" />
		    </form>
		  
		    <div><h1 id="choose">Choose</h1></div>
		    <div id="results"></div>
		</div>



	<div class="selected-artists">
		<h1> Selected Artists </h1>
		<div id="artist1" class="free"><h2>Artist 1</h2></div>
		<div id="artist2" class="free"><h2>Artist 2</h2></div>
		<div id="artist3" class="free"><h2>Artist 3</h2></div>
		<div id="artist4" class="free"><h2>Artist 4</h2></div>
		<div id="artist5" class="free"><h2>Artist 5</h2></div>
		<div id="artist6" class="free"><h2>Artist 6</h2></div>
		<div id="artist7" class="free"><h2>Artist 7</h2></div>
		<div id="artist8" class="free"><h2>Artist 8</h2></div>
		<div id="artist9" class="free"><h2>Artist 9</h2></div>
		<div id="artist10" class="free"><h2>Artist 10</h2></div>

		<form id="maketheplaylist" action="/playlist" method="post">
			<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
		  <input type="submit" id="go" value="Find Playlist" />
		</form>
		<br><br><br>
	</div>
	





<script id="results-template" type="text/x-handlebars-template">
    {{#each albums.items}}
    <div style="background-image:url({{images.0.url}})" data-album-id="{{id}}" class="cover"></div>
    {{/each}}
</script>

<script type="text/javascript">
	
		$('#choose').hide();
		$('#search').on('click', function(){
			$('#choose').show();
		});

/////////////////////////// NOT MINE //////////////////////////////////////////////////////////
		// find template and compile it
		// var templateSource = document.getElementById('results-template').innerHTML,
		//     template = Handlebars.compile(templateSource),
		//     resultsPlaceholder = document.getElementById('results'),
		//     playingCssClass = 'playing',
		//     audioObject = null;

		// var fetchTracks = function (albumId, callback) {
		//     $.ajax({
		//         url: 'https://api.spotify.com/v1/albums/' + albumId,
		//         success: function (response) {
		//             console.log(response);
		//             callback(response);
		//         }
		//     });
		// };

		// var searchAlbums = function (query) {
		//     $.ajax({
		//         url: 'https://api.spotify.com/v1/search',
		//         data: {
		//             q: query,
		//             type: 'album'
		//         },
		//         success: function (response) {
		//         		console.log(response);
		//             resultsPlaceholder.innerHTML = template(response);
		//         }
		//     });
		// };


		// results.addEventListener('click', function(e) {
		//     var target = e.target;
		//     if (target !== null && target.classList.contains('cover')) {
		//         if (target.classList.contains(playingCssClass)) {
		//             audioObject.pause();
		//         } else {
		//             if (audioObject) {
		//                 audioObject.pause();
		//             }
		//             fetchTracks(target.getAttribute('data-album-id'), function(data) {            
		//                 audioObject = new Audio(data.tracks.items[0].preview_url);
		//                 audioObject.play();
		//                 target.classList.add(playingCssClass);
		//                 audioObject.addEventListener('ended', function() {
		//                     target.classList.remove(playingCssClass);
		//                 });
		//                 audioObject.addEventListener('pause', function() {
		//                     target.classList.remove(playingCssClass);
		//                });
		//             });
		//         }
		//     }
		// });

		// document.getElementById('search-form').addEventListener('submit', function (e) {
		//     e.preventDefault();
		//     searchAlbums(document.getElementById('query').value);
		// }, false);

//////////////////////////////////////////// MINE !! /////////////////////////////////////////////


			var searchArtists = function (query) {
				$.ajax({
					url: 'https://api.spotify.com/v1/search',
					data: {
							q: query,
							type: 'artist'
					},
					success: function (response) {
						$('#results').empty();
						console.log(response);
						length = response.artists.items.length
						for (var i=0; i<length; i++) {
								id = response.artists.items[i].id
								name = response.artists.items[i].name
								console.log(name)
								num = i + 1
								console.log(num)
								$("#results").append('<div class="piccont" id="a' + num + '" value="' + name + '">');
								console.log("appended div")
								$('#a'+num+'').append('<p>' + name + '</p>');
								console.log("pic length")
								var len = response.artists.items[i].images.length
								if (len === 0) {
									console.log("nopics")
								}
								else {
									imageurl = response.artists.items[i].images[0].url
									console.log("i have pics", imageurl, '#a'+num);
									$('#a'+num).append('<img class="pic" src="' + imageurl + '"/></div>');	
									console.log("append!")
								}
						}
					}
				});
			};


// when they select an artist append to one of the artist rows
	$(document).ready(function(){
			$(document).on('click', ".piccont", function(){
				console.log('this', this);
				var name = $(this).attr('value');
				console.log("got name", name);
				// append the name to the first free div and remove class "free"
					$('.selected-artists .free:first').append('<p>' + name + '</p>');
					$('.selected-artists .free:first').addClass('taken');
					$('.selected-artists .free:first').removeClass('free');
					var whichone = $('.selected-artists .taken').length 
					$('#maketheplaylist').append('<input type="hidden" name="artists[]" value="'+ name + '" id="putartists"/>')

			});
		});




		document.getElementById('search-form').addEventListener('submit', function(e){
				e.preventDefault();
				searchword = document.getElementById('query').value
				searchArtists(searchword);
		}, false);




</script>

</body>

