body {
    padding: 20px;
    background-color: #353631;
    color: white;
    font-family: 'Inconsolata';
}

#search-form, .form-control {
    margin-bottom: 20px;
}

.cover {
    width: 100px;
    height: 100px;
    background-size: cover;
}

.cover:hover {
    cursor: pointer;
}

.cover.playing {
    border: 5px solid #0AFAF6;
    border-radius: 5px;
}

#search {
	background-color: #353631;
	font-family: 'Inconsolata';
	border: 2px solid #0AFAF6;
	width: 100px;
	height: 40px;
	border-radius: 5px;
	color: #0AFAF6;
	font-size: 20px;
	outline: none;

}

#search:hover {
	background-color: #0AFAF6;
	border: 2px solid #353631;
	color: #353631;
}

#go {
	background-color: #353631;
	font-family: 'Inconsolata';
	border: 2px solid #0AFAF6;
	width: 200px;
	height: 40px;
	border-radius: 5px;
	color: #0AFAF6;
	font-size: 20px;
	outline: none;

}

#go:hover {
	background-color: #0AFAF6;
	border: 2px solid #353631;
	color: #353631;
}

#query {
	height: 30px;
	width: 150px;
	border: 0px solid #0AFAF6;
  border-bottom-width: 2px;
  background-color: transparent;
  color: #0AFAF6;
  font-size: 20px;
  outline-width: 0;
}

.pic {
	height: 150px;
	width: 150px;
	border: 3px solid #353631;
	margin-right: 5px;
}

.piccont {
	width: 160px;
	height: 240px;
	// margin-right: 20px;
	// margin-bottom: 20px;
	display: inline-block;
	border: 1px solid #0AFAF6;
	border-radius: 5px;
}

.piccont:hover {
	cursor: pointer;
}

.container {
	width: 65%;
	float: left;
}

.selected-artists {
	width: 35%;
	float: right;
}

#header {
	margin-top: 50px;
	border-bottom: 2px solid #0AFAF6;
	padding-bottom: 20px;
}











